{% render 'partials/head.liquid' %}


<article class="title-block">
    {% for api in artworkData %}
            <h1>{{ api.title }}</h1>
            <img src="https://fdnd-agency.directus.app/assets/{{ api.image }}?width=200&height=200" alt="art images for qatar museums">
        {% endfor %}
</article>